<title>Home Page</title>
<style>
   .back{
       background-color:white;
       background-attachment:fixed;
       background-repeat:no-repeat;
       background-size: 100% 100%
   }
  img{
      width:400px;
      object-fit:cover;
      position:center;
  }
</style>
<body>

    <div class="d-md-flex">
        <div class="back" >
            <img src="/Image/841752.jpg" alt="The word image"/>
        </div>
        <div class="contents">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="about text-center mb-5">
                                <br />
                                <h2 style="color:blueviolet">About</h2>
                                <hr />
                                <p class="text-wrap bg-light">
                                    This Website conatins Bible questions packed from different <strong>sources</strong>. It's more than just a quiz, helps you get familiar with the <strong>word></strong> including most of the things we need to know about the
                                    <em>word of God</em>. Gettting you closer to the awareness of the <em>word</em>.<br />
                                    We are able to provide most questions and answers you will need to stay updated because knowing the word is essential for all.
                                    For more details and informations you want to pass across to us, you can contact us via the Email below.<br />
                                    Feel free to download this ebook too...<a asp-action="Download" >Powerful Prayer</a>, will help you stay connected. 
                                    Thank you and <em>God</em> bless you.
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

</body>

