@{
    ViewData["Title"] = "Privacy Policy";
}
<title>Privacy Page</title>

<h1>@ViewData["Title"]</h1>

<p class="text-wrap">
    Yeah, your Personal data is well secured with us. We know nothing about your <em>encrypted</em> secret password so you should keep it safe
    as we have no forget password functionality yet.You can also complete your data information by clicking on
    your email after you logged in. We feel happy to contact you and we apologise as some of the pages may seem not available.
</p>
